
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  max-width: 1920px;
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}
a {
  text-decoration: none;
  color:#000;
}
/* a:hover {
  text-decoration: underline;
} */
img {
  border: none;
  vertical-align: middle;
}
ol, ul, li {
  list-style: none;
}

 html,body,ul{
  padding:0;
  margin:0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.inner{
  width:1200px;
  margin:0 auto;
}
.left{
  float:left;
  width:50%;
  position:relative;
}
.right{
  position:relative;
  float:right;
  width:50%;
}
/*清除浮动代码*/
.cf::after{display:block;clear:both;content:"";visibility:hidden;height:0}
.cf{zoom:1}

.logo{
  position: fixed;
  width:100%;
  height:86px;
  z-index:9;
  .inner{
    position: relative;
    height:86px;
  }
  .music{
    position: absolute;
    right:18px;
    bottom:0;
  }
  .lo{
    position: absolute;
    left:0;
    bottom:0;
  }
}
.nav{
  position:absolute;
  top:238px;
  left:76px;
}
.slid{
  position:absolute;
  top:140px;
  left:-518px;
}
.nav ul li a{
  display:block;
  line-height:100px;
  font-size: 26px;
  color:#fff;
  /* background:url(images/yuan.png)no-repeat; */
}


.nav .a1 a{
  text-indent:36px;
}

.nav .a1.active a,.nav .a1:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:-1% 54%;
}
.nav .a2 a{
  text-indent:64px;
}
.nav .a2.active a,.nav .a2:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:12% 54%;
}
.nav .a3 a{
  text-indent:104px;
}
.nav .a3.active a,.nav .a3:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:29% 54%;
}
// .nav .a4 a{
//   text-indent:138px;
// }
// .nav .a4.active a,.nav .a4:hover a{
//   background:url(../images/yuan.png)no-repeat;
//   background-position:36% 54%;
// }
.nav .a5 a{
  text-indent:150px;
}
.nav .a5.active a,.nav .a5:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:47% 54%;
}


.banner .left,show .left,.tip .left{
  float:left;
  position:relative;
}
.banner .left img,.show .left img,.tip .left img{
  position: absolute;
  right:0;
}
.banner .right,.show .right,.tip .right{
 float:right;
}
.banner .right img,.show .right img,.tip .right img{
 float:left;
}
body{
  overflow-x:hidden;
}
.tip .lip{
  position: absolute;
  top:180px;
  left:40px;
}
.tip .lip h2{
  margin-left:24px;
}
.tip .lip li a,.tip .lip h2{
  color:#fff;
  font-size: 24px;
  font-weight: 600;
  display:inline-block;
  line-height:86px;
}
.tip .lip li a{
  padding:0 24px;
}
.tip .lip li a:hover{
  background:#e18332;
}
.tip .lipi{
  position:absolute;
  top:200px;
  left:110px;
  
}
.tip .lipi li{
  position: relative;
}
.tip .lipi .alt{
  width:336px;
  overflow: hidden;
}
.tip .lipi .alt .bot{
  background:#e8a626;
  color:#fff;
  width:288px;
  height:50px;
  position: absolute;
  border-radius: 0 0 10px 10px;
  bottom:-90px;
  
}
.swip,.swipp{
  transition: all 1s;
}
.anit{
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); 	/* IE 9 */
  -moz-transform:rotate(90deg); 	/* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg); 
}
.anitt{
  transform:rotate(1800deg);
  -ms-transform:rotate(1800deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 
}
.ycap{
  .alt{
    .bot{
      padding:20px 24px;
      p{
        font-size: 18px;
        color:#fff;
      }
      .button{
        border:none;
        background:#cc383e;
        border-radius: 30px;
        width:122px;
        height:44px;
        color:#fff;
        position: absolute;
        bottom:-10px;
        right:-20px;
        font-size: 16px;
        text-align: center;
        line-height:44px;
      }
    }
  }
  .alone{
    position: absolute;
    bottom: -20px;
    left: -74px;
  }
  .alone1{
    position: absolute;
    bottom: 0px;
    left: -41px;
  }
  .alone3{
    position: absolute;
    bottom: -20px;
    left: -46px;
  }
  .alone4{
    position: absolute;
    bottom: -20px;
    left: -24px;
  }
}

.wrap{
  position: relative;
  left: -50px;
  top: -40px;
  height:670px;
  width:771px;
  overflow: hidden;
  img{
    width:0;  
    position: absolute;
    right:0;
    bottom:170px;
  }
  .f1{
    position: absolute;
    display: block;
    width: 75px;
    height: 20px;
    top: -2px;
    left: 288px;
  }
  .f2{
    position: absolute;
    display: block;
    width: 75px;
    height: 20px;
    top: 178px;
    left: 198px;
  }
  .f3{
    position: absolute;
    display: block;
    width: 75px;
    height: 20px;
    top: 169px;
    left: 87px;
  }
  .f4{
    position: absolute;
    display: block;
    width: 75px;
    height: 20px;
    top: 245px;
    left: -4px;
  }
  .f5{
    position: absolute;
    display: block;
    width: 75px;
    height: 20px;
    top: 494px;
    left: 134px;
  }
  .f6{
    position: absolute;
    display: block;
    width: 75px;
    height: 20px;
    top: 608px;
    left: 18px;
  }
  .f7{
    position: absolute;
    display: block;
    width: 75px;
    height: 20px;
    top: 596px;
    left: 247px;
  }
  .f8{
    position: absolute;
    display: block;
    width: 75px;
    height: 20px;
    top: 552px;
    left: 473px;
  }
}
#tip3{
  position: relative;
  .kfr{
    width:1000px;
    height:638px;
    padding:0 50px;
    margin-top:180px;
    color:#fff;
    z-index:9;
    position: absolute;
    font-size: 24px;
    background:url(../images/kfr_bg.png)no-repeat;
    background-position:100% 150%;
  }
  h2{
    margin-bottom:48px;
  }
  h3{
    margin-bottom:56px;
  }
  .tabs{
    margin-bottom:60px;   
    .tab{
      float:left;
      line-height:40px;
      margin-right:40px;
      cursor: pointer;
      position: relative;
    }
    .hot{
      i{
        position: absolute;
        top: 12px;
        right: -48px;
      }
    }
    .tab.active,.tab:hover{
      border-bottom:4px solid #e8a626;
    }
  }
  .swiper-container1{
    height:455px;
    top:-12px;
    .a1{
      display:inline-block;
      width:390px;
      height:100px;
      background:#f38841;
      border-radius: 26px;
      line-height:40px;
      font-size: 20px;
      padding-left:25px;
      padding-top:16px;
      color:#fff;
      letter-spacing: 1px;
      margin-right: 26px;
      margin-bottom:26px;
      p{
        font-size: 16px;
      }
    }
    .a2{
      display:inline-block;
      width:390px;
      height:100px;
      background:#e8a626;
      border-radius: 26px;
      line-height:40px;
      font-size: 20px;
      padding-left:25px;
      padding-top:16px;
      color:#fff;
      letter-spacing: 1px;
      p{
        font-size: 16px;
      }
    }
    .sl{
      width:300px;
      position: relative;
      display:inline-block;
      .des{
        position: absolute;
        top:30px;
        color:#fff;
        margin-left:44px;
        h4{
          font-size: 20px;
          margin-bottom:12px;
        }
        p{
          font-size: 14px;
          line-height:24px;
        }
      }
    }
    .sl.sq {
      width:334px;
      margin-right:40px;
      .des {
        position: absolute;
        top: 56px;
        color: #fff;
        margin-left: 24px;
    }
    } 
    .swiper-button-next, .swiper-button-prev{
      left:48.5%;
    }
    .swiper-button-next{
      top:98%;
      bottom:0;
      left:0;
      background:url(../images/next.png)no-repeat;
    }
    .swiper-button-prev{
      top:0;
      margin-top:0;
      background:url(../images/prev.png)no-repeat;
    }
  }
  // .ggkj{
  //   position: relative;
  //   li{
  //     h2{
  //       cursor: pointer;
  //       i{
  //         width:20px;
  //         height:20px;
  //         display:inline-block;
  //         background:url(../images/up.png)no-repeat;
  //         margin-left:10px;
  //       }  
  //     }
  //     h2:hover i{
  //       transform:rotate(90deg);
  //       -ms-transform:rotate(90deg); 	/* IE 9 */
  //       -moz-transform:rotate(90deg); 	/* Firefox */
  //       -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  //       -o-transform:rotate(90deg);
  //     }
  //   }
  //   li.active i{
  //     transform:rotate(90deg);
  //     -ms-transform:rotate(90deg); 	/* IE 9 */
  //     -moz-transform:rotate(90deg); 	/* Firefox */
  //     -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  //     -o-transform:rotate(90deg);
  //   }
  // }
}
.wo1{
  display:none;
}
.abig{
  float: right;
  position: relative;
}
.big{
  width:150px;
  height:46px;
  background:#e8a626;
  line-height:46px;
  text-align: center;
  border-radius: 10px 10px 0 0 ;
  bottom:0;
  position: absolute;
}
.big.active{
  width:150px;
  height:60px;
  background:#c93c2a;
  line-height:60px;
  text-align: center;
  margin-top:-13px;
}
.ggkj{
  width:200px;
  h6{
    line-height:44px;
    text-indent:10px;
    cursor: pointer;
    font-size: 20px;
  }
  h6:hover,li.active h6{
    background:url(../images/qianb.png)no-repeat;
  }
  ol{
    position: absolute;
    top: 170px;
    right: 74px;
  }
}
.all_des{
  position: absolute;
  right: 70px;
  top: 178px;
}