
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  
}
html{
  font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}
a {
  text-decoration: none;
  color:#000;
}
/* a:hover {
  text-decoration: underline;
} */
img {
  border: none;
  vertical-align: middle;
}
ol, ul, li {
  list-style: none;
}

 html,body,ul{
  padding:0;
  margin:0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.inner{
  width:1200px;
  margin:0 auto;
}
.left{
  float:left;
  width:50%;
  position:relative;
}
.right{
  position:relative;
  float:right;
  width:50%;
}
/*清除浮动代码*/
.cf:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.cf{zoom:1}

.nav{
  position:absolute;
  top:140px;
  left:50px;
}
.slid{
  position:absolute;
  top:140px;
  left:-518px;
}
.nav ul li a{
  display:block;
  line-height:100px;
  font-size: 26px;
  color:#fff;
  /* background:url(images/yuan.png)no-repeat; */
}
.nav .a1 a{
  text-indent:36px;
}
.nav .a1.active a,.nav .a1:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:-1% 54%;
}
.nav .a2 a{
  text-indent:64px;
}
.nav .a2.active a,.nav .a2:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:9% 54%;
}
.nav .a3 a{
  text-indent:96px;
}
.nav .a3.active a,.nav .a3:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:21% 54%;
}
.nav .a4 a{
  text-indent:138px;
}
.nav .a4.active a,.nav .a4:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:36% 54%;
}
.nav .a5 a{
  text-indent:180px;
}
.nav .a5.active a,.nav .a5:hover a{
  background:url(../images/yuan.png)no-repeat;
  background-position:53% 54%;
}

.banner,.show,tip{
  overflow: hidden;
}
.banner .left,show .left,.tip .left{
  float:left;
  position:relative;
}
.banner .left img,.show .left img,.tip .left img{
  position: absolute;
  right:0;
}
.banner .right,.show .right,.tip .right{
 float:right;
}
.banner .right img,.show .right img,.tip .right img{
 float:left;
}
body{
  overflow:hidden;
  overflow-x:hidden;
}
.tip .lip{
  position: absolute;
  top:180px;
  left:40px;
}
.tip .lip h2{
  margin-left:24px;
}
.tip .lip li a,.tip .lip h2{
  color:#fff;
  font-size: 24px;
  font-weight: 600;
  display:inline-block;
  line-height:86px;
}
.tip .lip li a{
  padding:0 24px;
}
.tip .lip li a:hover{
  background:#e18332;
}
.tip .lipi{
  position:absolute;
  top:200px;
  left:110px;
  
}
.tip .lipi li{
  position: relative;
}
.tip .lipi .alt{
  width:336px;
  overflow: hidden;
}
.tip .lipi .alt .bot{
  background:#e8a626;
  color:#fff;
  width:336px;
  height:90px;
  position: absolute;
  border-radius: 0 0 10px 10px;
  bottom:-90px;
  
}
.swip,.swipp{
  transition: all 1s;
}
.anit{
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); 	/* IE 9 */
  -moz-transform:rotate(90deg); 	/* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg); 
}
.anitt{
  transform:rotate(1800deg);
  -ms-transform:rotate(1800deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 
}